/secure/*
!/secure/README.md
/debug/logs/*
!/debug/logs/README.md
/uploads/*
!/uploads/README.md
/sqldump
/web_root/tests/tmp
/notes
/example_data
/web_root/tryit
/examples
/client/spicebush/work
/FreeBSD/usr/ports/databases/mariadb-connector-odbc/
__pycache__/
*.pyc
